<!DOCTYPE html>
<html>
  <head >
    <title>チャットアプリ</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/sample.css">
  </head>
  <body>
    <div class="body">
      <div class="sidebar">
       <header><img src="../../static/img/CREW-logo-text.png" alt="CREW"></header>
       <ul>
        <li>
          <a href="#">HOME</a>
        </li>
        <li>
          <a href="/todo">Task</a>
        </li>
        <li>

          <a href="#">Sign Out</a>
        </li>
      </ul>
      </div>
      <div class="mainbar">
       <header><img src="../../static/img/CREW-logo-text.png" alt="main"></header> 
       <div class="room_1">
        <div>
          <a href="#">ROOM_1</a>
        </div>
        <div>
          <a href="#">ROOM_2</a>
        </div>
      </div>
      <div class="room_2">
        <div>
          <a href="#">ROOM_3</a>
        </div>
        <div>
          <a href="#">ROOM_4</a>
        </div>
      </div>
      <div class="room_3">
        <div>
          <a href="#">ROOM_5</a>
        </div>
        <div>
          <a href="#">ROOM_6</a>
        </div>
      </div>
      <div class="add_button">
      <a href="#"><img src="../../static/img/add_button.png" alt="追加"></a>
      </div>
      </div>
    </div>
  </body>
</html>