<!DOCTYPE html>
<html>
  <head >
    <title>チャットアプリ</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/sample2.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  </head>
  <body>
    <!--toggle section-->
    <input type="checkbox" id="check">
      <label for="check">
        <i class="fas fa-bars" id="hamburger"></i>
        <i class="fas fa-times" id="cancel"></i>
      </label>

    <!-- sidebar section-->
   <div class="sidebar">
        <header><img src="../../static/img/CREW-logo2.png  " alt="CREW"></header>
        <ul>
            <li>
               <a href="#">HOME</a>
            </li>
             <li>
               <a href="/todo">Task</a>
            </li>
            <li>
               <a href="#">Sign Out</a>
            </li>
        </ul>
    </div>
    <!-- 背景-->
    <div class="bg"></div>
    <!-- main section--> 
   <div class="main">
   <div class="mainbar">
      <div class="content-header">
          <p>HOME</p>
        <img src="../../static/img/edit.png">
      </div> 
      <div class="room_1">
        <div>
          <a href="#">ROOM_1</a>
        </div>
        <div>
          <a href="#">ROOM_2</a>
        </div>
      </div>
      <div class="room_2">
        <div>
          <a href="#">ROOM_3</a>
        </div>
        <div>
          <a href="#">ROOM_4</a>
        </div>
      </div>
      <div class="room_3">
        <div>
          <a href="#">ROOM_5</a>
        </div>
        <div>
          <a href="#">ROOM_6</a>
        </div>
      </div>
    <div id="channels-list">
      <div id="pagination-wrapper">
        <div>
          <div class="pagination-container">
            <p id="prev">
              <
              <span>PREV</span>
            </p>
            <ul class="pagination"></ul>
            <p id="next">
              <span>NEXT</span>
              >
            </p>  
          </div>
        </div>
      </div>
    </div>
    <div class="add_button">
      <a href="#"><img src="../../static/img/add_button5.png" alt="追加"></a>
    </div>
      <div class="delete_button">
        <a href="#"><img src="../../static/img/CREW-logo-delete.png" alt="削除"></a>
    </div>
  </div>
  </div>


  </body>