<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ChatTEST</title>
  <link rel="stylesheet" href="../../static/css/side_menu.css"/>
</head>

<body>
    <div class="app"> <!--ページ全体-->
      <div class="main">
        <div class="sidebar">
            <header>
                <img class="sidebar-logo" src="../../static/img/CREW-logo2.png" alt="crew logo">
            </header>
            <ul>
                <li>
                  <a href="#">HOME</a>
                </li>
                <li>
                  <a href="#">Task</a>
                </li>
                <li>
                  <a href="#">Sign Out</a>
                </li>
              </ul>
        </div>
        <div class="content">
          <div class="flex-content">
            <div class="my-massages">
                <p class="right-box">ここに自分のメッセージ</p>
            </div>
            <div class="crew-massages">
                <p class="left-box">ここにトーク相手のメッセージ</p>
            </div>
            <div class="my-massages">
              <p class="right-box">ここに自分のメッセージ</p>
            </div>
            <div class="crew-massages">
              <p class="left-box">ここにトーク相手のメッセージ</p>
            </div>
            <div class="my-massages">
              <p class="right-box">ここに自分のメッセージ</p>
            </div>
          </div>
          <div class="fixed-content">
            <form class="typing-box" action="" method="POST" name="newMessageForm">
                <textarea name="message" id="message" autofocus></textarea>
                    <input type="hidden" name="cid" value="{{ channel.id }}" /> 
                <div id="message-send-tooltip">
                    <button type="submit" id="add-message-button">
                        submit
                    </button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>