<!DOCTYPE html>
    <html lang="en" dir="ltr">
        <head>
            <meta charaset="utf-8">
            <title>signup</title>
            <link rel="stylesheet" href="../../static/css/style.css">
        </head>
        <body>
          <div class="container">
            <form class="box" action="" method="post">
                <h1>Signup</h1>
                    <input type="text" name="name" placeholder="Name">
                    <input type="text" name="email" placeholder="Email">
                    <input type="password" name="password1" placeholder="Password">
                    <input type="password" name="password2" placeholder="Password Confirmation">
                    
                    <input type="submit" name="" value="Signup">
                <a class="switch-form" href="login.html">ログイン</a>
            </form>

        </body>
        <footer>
            <p>Raretech Hackathon 2023 Summer D-TEAM</p>
        </footer>
          </div>
    </html>