<!DOCTYPE html>
<html lang="en">
  <head >
    <title>todolist</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="">
  </head>
  <body> 
    <h1>TODO-List</h1>
  <form method="post">
    <input class="task_value" type="text" name="todo_content" />
    <input type="submit" name="" value="Add task">
  </form>
  <div id="table">
    <h2>List</h2>
    <ul class="task_list"></ul>
    {% for todo in todo_list %}
      <li>{{ todo }}</li>
    {% endfor %}

    </div>
  </body>
</html>