<!DOCTYPE html>
    <html lang="en" dir="ltr">
        <head>
            <meta charaset="utf-8">
            <title>404</title>
            <link rel="stylesheet" href="../../static/css/error.css">
        </head>
        
        <body>
            <div class="error-cntents">
                <p class="error_message">yon maru yon...</p>
            </div>
            <button class="back-page" onclick="location.href='../registation/index.html'"> 
                Go Back 
            </button>
        </body>
    </html>