@font-face {
    font-family:'myfont';
    src: url(../font/amongus\ vector.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
  
.app {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../img/CREW-room.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.app::after{
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.5;
}
  
.main {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
  
.sidebar {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    width: 20%;
    transition: all 0.5s;
}

.sidebar header {
    text-align: center;
    user-select: none;
    margin-top: 10px;
    margin-bottom: 30px;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 100px;
    font-size: 3rem;
    font-family: "myfont";
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.7s;
}

ul li:hover a {
    padding-right: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/*message read*/
.flex-content {
    flex-grow: 1;
    box-sizing: border-box;
    border: 3px solid green; /*作業完了後消す*/
}

.my-massages {
    width: 40%;
    padding: 10px;
    margin: 10px 5px 5px auto;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
}

.crew-massages {
    width: 40%;
    padding: 10px;
    margin: 10px auto 5px 5px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/*message　post*/
.fixed-content {
    height: 150px;
    box-sizing: border-box;
    border: 3px solid yellow;/*作業完了後消す*/
}

.fixed-content textarea {
    resize: none;
    width: 100%;
    height: 140px;
}

.fixed-content button {
    float: right;
    width: 50px;
    height: 20px;
}

.typing-box {
    position: relative; /* フォームを相対位置*/
}

#add-message-button {
    position: absolute;
    right: 0; /* ボタンを右端に配置 */
    bottom: 0; /* ボタンをフォームの下端に配置 */
    margin: 10px; /* マージンを調整して余白を確保 */
}

textarea{
    font-size: 20px;
}